<%= form_for(@gist) do |f| %>
    <%
       b=[]
       a=Pygments::Lexer.all.select{|y| !(y.filenames.empty?)}.map{|x|[x.name.downcase, x.filenames.first.gsub('*','')]}.sort
       a.flatten.select.with_index{|a,i| (i+1) % 2 == 1}.each { |e|
         b.push(e) }
    %>

  <% if @gist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% @gist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :snippet %><br>
    <%= f.text_area :snippet, class: "form-control", rows: "10" %>
  </div>
  <div class="form-group">
    <%= f.select(:lang, b, {}, { :class => 'form-control' }) %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="actions">
    <%= link_to 'Back', gists_path, class:"btn btn-warning" %>
    <%= if((controller.action_name) == "edit")
         link_to 'Show', @gist, class: "btn btn-primary"
        end %>

    <%= f.submit :class=>"btn btn-success" %>
  </div>
<% end %>
