<h1>Listing gists</h1>
<%= link_to 'New Gist', new_gist_path, class:"btn btn-success" %>
<br />
<br />
<center><%= will_paginate %></center>
<table class="table">
  <thead>
    <tr>
      <th>Snippet</th>
      <th>Lang</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gists.each do |gist| %>
      <tr>
        
        <td><%= gist.lang %></td>
        <td><%= gist.description %></td>
        <td><%= link_to 'Show', gist, class: "btn btn-primary",style:"float: left;  margin-right: 10px" %>
        <%= link_to 'Edit', edit_gist_path(gist), class: "btn btn-warning",style:" float: left; margin-right: 10px" %>
        <%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger",style:"float: left" %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<center><%= will_paginate %></center>

<br>

