<p id="notice"><%= notice %></p>

<%= link_to 'Back', gists_path, class: "btn btn-primary" %>
<%= link_to 'Edit', edit_gist_path(@gist), class: "btn btn-warning" %>
<br />
<br />
<p>
  <strong>Lang:</strong>
  <%= @gist.lang %>
</p>

<p class="show">
  <strong>Snippet:</strong>
  <%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>
</p>



<p>
  <strong>Description:</strong>
  <%= @gist.description %>
</p>


<%= link_to 'Back', gists_path, class: "btn btn-primary" %>
<%= link_to 'Edit', edit_gist_path(@gist), class: "btn btn-warning" %>

